<div class="section">
    <h3>{{headingTitle}}</h3>
    <label ng-model="message"></label>
    <div class="gallery-section">
        <form name="createUser" ng-submit="submitCreateUserForm()" name="createUserForm">
            <label>First Name:</label>
            <input type="text" ng-model="user.firstName" id="firstName" class="email form-control input-sm" placeholder="Enter your first name" required/>
            <div class="has-error" ng-show="createUserForm.$dirty">
                <span ng-show="createUserForm.firstName.$error.required">This is a required field</span>
                <span ng-show="createUserForm.firstName.$invalid">This field is invalid </span>
            </div>

            <label>Last Name:</label>
            <input type="text" ng-model="user.lastName" id="lastName" class="email form-control input-sm" placeholder="Enter your first name" required/>
            <div class="has-error" ng-show="createUserForm.$dirty">
                <span ng-show="createUserForm.lastName.$error.required">This is a required field</span>
                <span ng-show="createUserForm.lastName.$invalid">This field is invalid </span>
            </div>

            <label>Email:</label>
            <input type="email" ng-model="user.email" id="email" class="email form-control input-sm" placeholder="Enter your first name" required/>
            <div class="has-error" ng-show="createUserForm.$dirty">
                <span ng-show="createUserForm.email.$error.required">This is a required field</span>
                <span ng-show="createUserForm.email.$invalid">This field is invalid </span>
            </div>

            <label>Password:</label>
            <input type="password" ng-model="user.password" id="password" class="email form-control input-sm" placeholder="Enter your first name" required/>
            <div class="has-error" ng-show="createUserForm.$dirty">
                <span ng-show="createUserForm.password.$error.required">This is a required field</span>
                <span ng-show="createUserForm.password.$invalid">This field is invalid </span>
            </div>

            <label>Role:</label>
            <select ng-model="user.role" ng-options="role for role in roles" class="selectpicker form-control " />
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    </div>
</div>