<div class="section">
    <h3>{{headingTitle}}</h3>
    <div ng-show="error" class="alert alert-danger">
        <strong>{{error}}</strong>
    </div>
    <h3>Create new Position: <a href="#/position/create" class="btn btn-primary">Add position</a></h3>
    <form name="form" ng-submit="changeFetchedStatuses(positionStatus)">
        <legend>Filter positions by statuses</legend>
        <label for="status">PositionStatus</label>
        <select id="status" ng-model="positionStatus" ng-options="positionStatus for positionStatus in positionStatuses"
                class="selectpicker form-control " required></select>
    </form>
    <br>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">List of Positions</span></div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Description</th>
                    <th>Created</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="position in positions">
                        <td>{{position.company.name}}</td>
                        <td>{{position.name}}</td>
                        <td>{{position.description}}</td>
                        <td>{{position.dateOfCreation}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>