<div ng-show="error" class="alert alert-danger">
    <strong>{{error}}</strong>
</div>
<div ng-show="message" class="alert alert-success">
    <strong>{{message}}</strong>
</div>
<form name="form" ng-submit="createCompany()" role="form">
    <div class="form-group">
        <label for="name">Name</label>
        <i class="fa fa-key"></i>
        <input type="text" name="name" id="name" class="form-control" ng-model="company.name" required/>
        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="company.description" name="description" id="description" cols="40" rows="3"
                  class="form-control"></textarea>
        <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Description is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">Create</button>
    </div>
</form>